---
import GitHubIcon from "~icons/tabler/brand-github"
import LinkedinIcon from "~icons/tabler/brand-linkedin"
import RssIcon from "~icons/tabler/rss"

import Link from "~/components/Link.astro"
---

<section class="flex flex-col items-center space-y-2 lg:items-start">
  <Link href="/" title="adamhl.dev" titleClass="text-3xl font-bold text-primary" />

  <div class="flex items-center space-x-2">
    <Link class="opacity-75" href="https://github.com/adamhl8" target="_blank" aria-label="GitHub">
      <GitHubIcon class="size-7" />
    </Link>
    <Link class="opacity-75" href="https://www.linkedin.com/in/adamlangbert" target="_blank" aria-label="LinkedIn">
      <LinkedinIcon class="size-7" />
    </Link>
    <div class="divider !m-0 !mr-2 divider-horizontal [&:after]:bg-base-300 [&:before]:bg-base-300"></div>
    <Link class="opacity-75" href="/rss.xml" target="_blank" aria-label="RSS">
      <RssIcon class="size-7" />
    </Link>
  </div>
</section>
