---
import PageTitle from "~/components/PageTitle.astro"
import RepoCard from "~/pages/_projects/RepoCard.astro"
import Base from "~/layouts/Base.astro"
---

<Base title="Projects" description="adamhl.dev projects">
  <PageTitle title="Projects" description="Some of my programming projects." />

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <RepoCard repo="adamhl8/filterql" />
    <RepoCard repo="adamhl8/inspectarr" />
    <RepoCard repo="adamhl8/ts-explicit-errors" />
    <RepoCard repo="adamhl8/dataviewjs-habit-tracker" />
    <RepoCard repo="adamhl8/astro-validate-env" />
    <RepoCard repo="adamhl8/jsonresume-theme-react-tailwind" />
    <RepoCard repo="adamhl8/adamhl.dev" />
    <RepoCard repo="adamhl8/discord-bot-shared" />
    <RepoCard repo="adamhl8/discord-app-bot" />
    <RepoCard repo="adamhl8/shellrunner" />
  </div>
</Base>
