---
import PageTitle from "../components/PageTitle.astro"
import RepoCard from "../components/RepoCard/RepoCard.astro"
import Base from "../layouts/Base.astro"
---

<Base title="Projects" description="adamhl.dev projects">
  <PageTitle title="Projects" description="Some of my programming projects." />

  <div class="grid grid-cols-2 gap-4">
    <RepoCard repo="adamhl8/dataviewjs-habit-tracker" />
    <RepoCard repo="adamhl8/shellrunner" />
    <RepoCard repo="adamhl8/discord-bot-shared" />
    <RepoCard repo="adamhl8/eyir" />
    <RepoCard repo="adamhl8/discord-app-bot" />
    <RepoCard repo="adamhl8/adamhl.dev" />
    <RepoCard repo="adamhl8/jsonresume-theme-cappuccino" />
    <RepoCard repo="adamhl8/cosmerecollection.com" />
  </div>
</Base>
