---
import PageTitle from "@/components/PageTitle.astro"
import Base from "@/layouts/Base.astro"
---

<Base title="Resume" description="adamhl.dev resume">
  <PageTitle title="Resume" description="" />

  <p>I'll put my resume here one day.</p>
</Base>
