---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a"> & {
  title?: string | HTMLElement
  titleClass?: string
}

const { class: className, title, titleClass, ...props } = Astro.props
---

<a class:list={[className, { group: title, "hover:text-accent transition-colors": !title }]} {...props}>
  {title && <span class:list={[titleClass, "group-hover:text-accent block transition-colors"]}>{title}</span>}
  <slot />
</a>
