---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a"> & {
  title?: string | HTMLElement
  titleClass?: string
}

const { class: className, title, titleClass, ...props } = Astro.props
---

<a class:list={[className, title ? "group" : "transition-colors hover:text-accent"]} {...props}>
  {title && <span class:list={[titleClass, "block transition-colors group-hover:text-accent"]}>{title}</span>}
  <slot />
</a>
