---
import FormattedDate from "~/components/FormattedDate.astro"

interface Props {
  title: string
  date?: Date
  description: string
  readingTime?: string | undefined
}
const { title, date, description, readingTime } = Astro.props
---

<hgroup class="">
  <h1 id="title" class="text-3xl font-bold">{title}</h1>
  {date && <FormattedDate class="text-lg" date={date} />}
  {readingTime && <div class="opacity-75">{readingTime}</div>}
  <p class="mt-4 opacity-75">{description}</p>
</hgroup>

<hr class="border-base-300" />
