---
import type { CollectionNames } from "@/utils/utils.ts"
import { getSortedCollection } from "@/utils/utils.ts"
import FormattedDate from "@/components/FormattedDate.astro"
import Link from "@/components/Link.astro"

interface Props {
  collectionName: CollectionNames
}
const { collectionName } = Astro.props

const posts = await getSortedCollection(collectionName)
---

<ul class="space-y-8">
  {
    posts.map((post) => (
      <li class="flex flex-col">
        <Link
          href={`/${collectionName}/${post.id}`}
          title={post.data.title}
          titleClass="text-xl font-bold text-primary"
        >
          <FormattedDate class="text-sm" date={post.data.date} />
        </Link>
      </li>
    ))
  }
</ul>
