---
import { Icon } from "astro-icon/components"
---

<label class="toggle border-base-content p-0.5 text-base-content hover:text-base-content/75" aria-label="Toggle theme">
  <input type="checkbox" value="dark" class="theme-controller" />
  <Icon name="tabler:sun-high" class="size-full" />
  <Icon name="tabler:moon-filled" class="size-full" />
</label>

<script is:inline>
  function initializeTheme() {
    const localStorageTheme = localStorage?.getItem("theme")
    const systemTheme = window.matchMedia("(prefers-color-scheme: light)").matches ? "light" : "dark"
    const theme = localStorageTheme || systemTheme

    document.documentElement.setAttribute("data-theme", theme)
    localStorage.setItem("theme", theme)

    const themeController = document.querySelector(".theme-controller")
    if (!(themeController instanceof HTMLInputElement)) return
    themeController.checked = theme === "dark"
    themeController.addEventListener("change", handleToggleClick)
  }

  function handleToggleClick() {
    const themeController = document.querySelector(".theme-controller")
    if (!(themeController instanceof HTMLInputElement)) return

    const currentTheme = document.documentElement.getAttribute("data-theme")
    const newTheme = currentTheme === "light" ? "dark" : "light"

    document.documentElement.setAttribute("data-theme", newTheme)
    localStorage.setItem("theme", newTheme)
    themeController.checked = newTheme === "dark"
  }

  initializeTheme()
</script>
