---
import { Icon } from "astro-icon/components"
---

<button id="theme-toggle" class="grid cursor-pointer place-items-center" aria-label="Toggle theme">
  <input
    type="checkbox"
    value="dark"
    class="theme-controller toggle col-span-2 col-start-1 row-start-1 bg-base-content hover:bg-base-content/75"
    aria-hidden="true"
    tabindex="-1"
  />
  <Icon
    name="tabler:sun-high"
    class="pointer-events-none col-start-1 row-start-1 size-3.5 fill-base-100 stroke-base-100 text-base-100"
  />
  <Icon
    name="tabler:moon-filled"
    class="pointer-events-none col-start-2 row-start-1 size-3.5 fill-base-100 stroke-base-100 text-base-100"
  />
</button>

<script is:inline>
  function initializeTheme() {
    const localStorageTheme = localStorage?.getItem("theme")
    const systemTheme = window.matchMedia("(prefers-color-scheme: light)").matches ? "light" : "dark"
    const theme = localStorageTheme || systemTheme

    document.documentElement.setAttribute("data-theme", theme)
    localStorage.setItem("theme", theme)

    const themeController = document.querySelector(".theme-controller")
    if (!(themeController instanceof HTMLInputElement)) return
    themeController.checked = theme === "dark"

    const themeToggle = document.getElementById("theme-toggle")
    if (!themeToggle) return
    themeToggle.addEventListener("click", handleToggleClick)
  }

  function handleToggleClick() {
    const themeController = document.querySelector(".theme-controller")
    if (!(themeController instanceof HTMLInputElement)) return

    const currentTheme = document.documentElement.getAttribute("data-theme")
    const newTheme = currentTheme === "light" ? "dark" : "light"

    document.documentElement.setAttribute("data-theme", newTheme)
    localStorage.setItem("theme", newTheme)
    themeController.checked = newTheme === "dark"
  }

  initializeTheme()
</script>
