---
import Link from "~/components/Link.astro"
import { Icon } from "astro-icon/components"

const navLinks = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/blog",
    label: "Blog",
  },
  {
    href: "/projects",
    label: "Projects",
  },
  {
    href: "/til",
    label: "TIL",
  },
  {
    href: "/resume",
    label: "Resume",
  },
]

const { pathname } = Astro.url
const cleanPathname = pathname === "/" ? pathname : pathname.replace(/\/$/v, "")
---

<nav>
  <menu class="space-y-2">
    {
      navLinks.map((link) => {
        const isActive = link.href === cleanPathname
        return (
          <li>
            {link.label === "Resume" ? (
              <Link href={link.href} title={link.label} class="flex items-center space-x-1" target="_blank">
                <Icon name="tabler:external-link" class="size-3.5 opacity-50" />
              </Link>
            ) : (
              <Link href={link.href} title={link.label} titleClass={isActive ? "font-bold" : ""} />
            )}
          </li>
        )
      })
    }
  </menu>
</nav>
