---
import FormattedDate from "../FormattedDate.astro"
import Link from "../Link.astro"
import { getSortedBlogPosts } from "../../utils"
const posts = await getSortedBlogPosts()
const recentPosts = posts.slice(0, 5)
---

<section class="space-y-4">
  <h3 class="text-xl font-bold">Recent Blog Posts</h3>

  <ul class="space-y-4">
    {
      recentPosts.map((post) => (
        <li>
          <Link href={`/blog/${post.id}`} title={post.data.title} titleClass="font-bold text-primary">
            <FormattedDate class="text-sm" date={post.data.date} />
          </Link>
        </li>
      ))
    }
  </ul>
</section>
