---
import GitHub from "../Icons/GitHub.astro"
import LinkedIn from "../Icons/LinkedIn.astro"
import RSS from "../Icons/RSS.astro"
import Link from "../Link.astro"
---

<section class="space-y-2">
  <Link href="/" title="adamhl.dev" titleClass="text-3xl text-primary font-bold" />

  <div class="flex items-center space-x-2">
    <Link class="opacity-75" href="https://github.com/adamhl8" target="_blank">
      <GitHub class="size-7" />
    </Link>
    <Link class="opacity-75" href="https://www.linkedin.com/in/adamlangbert" target="_blank">
      <LinkedIn class="size-7" />
    </Link>
    <div class="divider divider-horizontal"></div>
    <Link class="opacity-75" href="/rss.xml" target="_blank">
      <RSS class="size-7" />
    </Link>
  </div>
</section>
