---
import { Icon } from "astro-icon/components"

import Link from "@/components/Link.astro"
---

<section class="flex flex-col items-center space-y-2 md:items-start">
  <Link href="/" title="adamhl.dev" titleClass="text-3xl font-bold text-primary" />

  <div class="flex items-center space-x-2">
    <Link class="opacity-75" href="https://github.com/adamhl8" target="_blank" aria-label="GitHub">
      <Icon name="tabler:brand-github" class="size-7" />
    </Link>
    <Link class="opacity-75" href="https://www.linkedin.com/in/adamlangbert" target="_blank" aria-label="LinkedIn">
      <Icon name="tabler:brand-linkedin" class="size-7" />
    </Link>
    <div class="divider !m-0 !mr-2 divider-horizontal [&:after]:bg-base-300 [&:before]:bg-base-300"></div>
    <Link class="opacity-75" href="/rss.xml" target="_blank" aria-label="RSS">
      <Icon name="tabler:rss" class="size-7" />
    </Link>
  </div>
</section>
