---
import BaseHead from "../components/BaseHead.astro"
import ThemeToggle from "../components/ThemeToggle.astro"
import Title from "../components/Sidebar/Title.astro"
import Breadcrumbs from "../components/Breadcrumbs.astro"
import MobileDrawer from "../components/Mobile/MobileDrawer.astro"
import Sidebar from "../components/Sidebar/Sidebar.astro"

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col m-8 md:grid md:grid-cols-5 md:justify-self-center md:max-w-[80rem]">
    <div class="absolute top-4 right-4">
      <ThemeToggle />
    </div>

    <div class="flex justify-between items-start md:hidden">
      <MobileDrawer />
      <Title />
      <div class="w-8"></div>
    </div>

    <div class="hidden mr-16 md:block">
      <Sidebar />
    </div>

    <main class="mt-8 space-y-8 md:col-span-3">
      <Breadcrumbs title={title} />
      <slot />
      <hr class="border-base-300" />
    </main>

    <aside class="hidden ml-16 md:block">
      <slot name="toc" />
    </aside>
  </body>
</html>
