---
import BaseHead from "../components/BaseHead.astro"
import Breadcrumbs from "../components/Breadcrumbs.astro"
import MobileDrawer from "../components/Mobile/MobileDrawer.astro"
import Sidebar from "../components/Sidebar/Sidebar.astro"
import Title from "../components/Sidebar/Title.astro"
import ThemeToggle from "../components/ThemeToggle.astro"
import "../global.css"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="dark" class="grid">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="m-8 flex flex-col md:grid md:max-w-[80rem] md:grid-cols-5 md:justify-self-center">
    <div class="absolute top-4 right-4">
      <ThemeToggle />
    </div>

    <div class="flex items-start justify-between md:hidden">
      <MobileDrawer />
      <Title />
      <div class="w-8"></div>
    </div>

    <div class="mr-16 hidden md:block">
      <Sidebar />
    </div>

    <main class="mt-16 space-y-8 md:col-span-3">
      <Breadcrumbs title={title} />
      <slot />
      <hr class="border-base-300" />
    </main>

    <aside class="ml-16 hidden md:block">
      <slot name="toc" />
    </aside>
  </body>
</html>
